<div class="modal fade" id="editCertificationModal-{{ cert.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit license or certification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('profile.edit_certification', cert_id=cert.id) }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" value="{{ cert.name }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Issuing organization</label>
                        <input type="text" class="form-control" name="issuing_organization" value="{{ cert.issuing_organization }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Issue Date</label>
                        <input type="text" class="form-control" name="issue_date" value="{{ cert.issue_date }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Credential URL</label>
                        <input type="text" class="form-control" name="credential_url" value="{{ cert.credential_url }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>